{% extends "layout.html" %}

{% block body %}
<div class ="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
            <h3 class="text-center">Hakkımızda</h3>
            <div class="jumbotron text-center">
            <h4>Football & Manager</h4>
            <hr>
            <p>
                Biz; "Futbol" ve "Football Manager" ile ilgilenen herkesin içerik paylaşabileceği ve paylaşılan içerikleri takip edip yorum yapabileceği kolay ulaşılabilir ve eğlenceli bir platformuz.
            </p>
            <p>
                Futbol ya da Football Manager; bize katılmak için ikisinden biriyle ilgilenmen yeterli :)
            </p>
            <hr>
            </div>
        </div>
    </div>
</div>
        


{% endblock body %}